*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    color-scheme: light;
}

// html[data-theme='dark'] {
//     color-scheme: dark;
// }
// @supports not (color-scheme: dark) {
//     html[data-theme='dark'] {
//         background: #111;
//     }
// }

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    min-height: 100vh;
}

a {
    color: currentColor;
    text-decoration: none;
}

li {
    list-style-type: none;
}
