// Colors
:root {
    --clr-primary: rgba(68, 204, 238, 0.75);
    --clr-secondary: rgb(5, 13, 52);
    --font-clr-light: rgba(250, 250, 250, 1);
    --font-clr-dark: rgba(37, 37, 37, 0.86);
    --grid-gap-size: 1rem;
}

// day scene
$sun-width: 7rem;
