.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.bg {
    background-color: var(--clr-primary);
    background-image: url('../resources/img/bg_day.png');
    background-size: cover;
    background-position: left;
    height: 100%;
    inset: 0;
    position: absolute;
    width: 100%;
    z-index: -1;

    .overlay-stars {
        background-image: url('../resources/img/stars_2.png');
        background-color: transparent;
        background-position: top center;
        background-repeat: repeat;
        display: none;
        height: 20%;
        inset: 0;
        opacity: 0.85;
        position: absolute;
        margin: 0 auto;
        width: 70%;

        @include respond(tab-port) {
            height: 24%;
        }
    }
}

.img-box {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

main {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: auto 0;
    width: 100%;
}

[data-theme='dark'] .value {
    color: var(--clr-secondary);
}

[data-theme='dark'] .timer__message {
    color: var(--clr-secondary);
}
