footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--grid-gap-size);
    justify-content: center;
    margin-top: auto;
    padding: 2rem 0;
    width: 100%;

    .msg {
        color: var(--font-clr-dark);
        font-family: 'Paytone One', sans-serif;
        font-size: 1.6rem;
        font-weight: 300;
        letter-spacing: 0.5px;
        word-spacing: 3px;
    }

    .link {
        svg {
            --size: 3rem;
            fill: currentColor;
            height: var(--size);
            width: var(--size);

            &:hover {
                filter: brightness(50%);
            }
        }
    }
}
