.bg {
  background-color: $skyblue;
  background-image: url("/ressources/img/bg_day.webp");
  background-size: cover;
  background-position: left;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;

  .overlay-stars {
    background: transparent url("/ressources/img/stars_2.png") repeat top center;
    bottom: 0;
    display: none;
    height: 20%;
    left: 0;
    opacity: 0.85;
    position: absolute;
    margin: 0 auto;
    right: 0;
    top: 0;
    width: 70%;
    z-index: -2;

    @include respond(tab-port) {
      height: 24%;
    }
  }
}

.container {
  align-items: flex-end;
  display: flex;
  height: 90vh;
  justify-content: center;
  margin: 0 auto;
  width: clamp(30rem, 90%, 35rem);

  @include respond(tab-port) {
    width: clamp(30rem, 90%, 60rem);
  }
}

.img-box {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.timer {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.75rem;
  background-color: $grey-light;
  box-shadow: rgba(187, 187, 187, 0.36) 0px 22px 70px 4px,
    rgba(145, 145, 145, 0.36) 0px 22px 70px 4px;
  display: flex;
  flex-direction: column;
  height: max-content;
  justify-content: flex-start;
  margin-bottom: 6rem;
  padding-bottom: 2rem;
  position: relative;
  width: 100%;
  z-index: 10;

  @include respond(tab-port) {
    margin-bottom: 10rem;
  }

  &__title {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    width: 100%;
  }

  &__heading {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url("/ressources/img/bg_day.webp");
    background-position: left;
    color: transparent;
    font-family: "Paytone One", sans-serif;
    font-size: 3rem;
    height: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include respond(tab-port) {
      font-size: 5rem;
    }
  }

  &__display {
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-template-areas: "days" "hours" "minutes" "seconds";
    height: 100%;
    justify-items: center;
    padding: 1rem 0;
    width: 70%;

    @include respond(tab-port) {
      grid-template-areas: "days hours minutes seconds";
      width: 90%;
    }

    > * {
      align-items: stretch;
      display: grid;
      gap: 1rem;
      grid-template-columns: 12rem 12rem;
      grid-template-rows: 7rem;
      grid-template-areas: "value unit";

      @include respond(tab-port) {
        gap: 0;
        grid-template-areas: "value" "unit";
        grid-template-columns: 10rem;
        justify-items: center;
      }
    }
  }

  &__days {
    grid-area: days;
  }

  &__hours {
    grid-area: hours;
  }

  &__minutes {
    grid-area: minutes;
  }

  &__seconds {
    grid-area: seconds;
  }

  .value {
    align-items: center;
    color: $skyblue;
    font-size: 5rem;
    font-variant-numeric: tabular-nums lining-nums;
    display: flex;
    grid-area: value;
    justify-content: center;
    width: 100%;
  }

  .unit {
    align-items: center;
    font-size: 2rem;
    display: flex;
    grid-area: unit;
    justify-content: flex-start;
    width: 100%;

    @include respond(tab-port) {
      justify-content: center;
    }
  }
}
