.birdcage {
  display: none;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.pictureframe {
  height: 100%;
  left: -60%;
  position: absolute;
  top: 0;
  width: 100%;
}

.pictureframe:nth-of-type(1) {
  animation: fly 30s infinite linear;
  height: 200px;
  left: -60%;

  @include respond(tab-port) {
    animation: fly 180s infinite linear;
  }
}

.pictureframe:nth-of-type(2) {
  animation: fly 28s 1s infinite linear;
  height: 300px;

  @include respond(tab-port) {
    animation: fly 177s 2s infinite linear;
  }
}

.pictureframe:nth-of-type(3) {
  animation: fly 30s 2s infinite linear;
  height: 400px;

  @include respond(tab-port) {
    animation: fly 175s 1s infinite linear;
  }
}

.pictureframe:nth-of-type(4) {
  animation: fly 25s 3s infinite linear;
  height: 300px;

  @include respond(tab-port) {
    animation: fly 172s 2s infinite linear;
  }
}

.bird div {
  position: absolute;
}

.bird {
  animation: bob 0.7s infinite cubic-bezier(0.7, 0.7, 0.1, 0.4);
  position: absolute;
}

.body1,
.body2,
.wing-l,
.wing-r {
  border-color: transparent;
  border-style: solid;
  height: 0px;
  width: 0px;
}

.body1 {
  border-width: 15px;
  border-left-width: 25px;
  border-top-width: 15px;
  border-right-width: 55px;
  border-top-color: #333;
}

.body2 {
  border-width: 10px;
  border-left-width: 5px;
  border-top-width: 0px;
  border-right-width: 15px;
  border-bottom-color: #777;
  bottom: 0px;
  left: 50px;
}

.wing-l {
  animation: flap-l 0.7s infinite;
  border-width: 60px;
  border-left-width: 20px;
  border-top-width: 0px;
  border-right-width: 6px;
  border-bottom-color: #444;
  bottom: 0px;
  left: 22px;
}

.wing-r {
  animation: flap-r 0.7s infinite;
  border-width: 60px;
  border-left-width: 20px;
  border-bottom-width: 0px;
  border-right-width: 6px;
  border-top-color: #777;
  left: 22px;
  top: 0px;
}

.sun_day {
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
  box-shadow: 0px 0px 40px 15px rgba(255, 255, 255, 1);
  display: none;
  height: 70px;
  margin: auto;
  opacity: 0.9;
  position: absolute;
  right: 22%;
  top: 10%;
  width: 70px;
  z-index: -1;
}

.ray_box {
  -webkit-animation: ray_anim 120s linear infinite;
  animation: ray_anim 120s linear infinite;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0px;
  width: 70px;
}
.ray {
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 80% 80% 0 0;
  margin-left: 10px;
  opacity: 0.1;
  position: absolute;
}

.ray1 {
  height: 170px;
  left: 15px;
  top: -175px;
  transform: rotate(180deg);
  width: 30px;
}

.ray2 {
  height: 100px;
  width: 8px;
  transform: rotate(220deg);
  top: -90px;
  left: 75px;
}

.ray3 {
  height: 170px;
  width: 50px;
  transform: rotate(250deg);
  top: -80px;
  left: 100px;
}

.ray4 {
  height: 120px;
  width: 14px;
  transform: rotate(305deg);
  top: 30px;
  left: 100px;
}

.ray5 {
  height: 140px;
  width: 30px;
  transform: rotate(-15deg);
  top: 60px;
  left: 40px;
}

.ray6 {
  height: 90px;
  width: 50px;
  transform: rotate(30deg);
  top: 60px;
  left: -40px;
}

.ray7 {
  height: 180px;
  width: 10px;
  transform: rotate(70deg);
  top: -35px;
  left: -40px;
}

.ray8 {
  height: 120px;
  width: 30px;
  transform: rotate(100deg);
  top: -45px;
  left: -90px;
}

.ray9 {
  height: 80px;
  width: 10px;
  transform: rotate(120deg);
  top: -65px;
  left: -60px;
}

.ray10 {
  height: 190px;
  width: 23px;
  transform: rotate(150deg);
  top: -185px;
  left: -60px;
}
