.sunlight {
  background-color: rgb(252, 187, 58);
  border-radius: 50%;
  box-shadow: 0 0 8.5rem 0.5rem rgba(255, 182, 39, 0.75),
    0 0 28.5rem 1rem rgba(255, 182, 39, 0.75),
    0 0 48.5rem 1.5rem rgba(255, 182, 39, 0.75),
    0 0 88.5rem 4rem rgba(255, 182, 39, 0.75),
    0 0 168.5rem 0.05rem rgba(255, 182, 39, 0.75),
    0 0 328.5rem 0.05rem rgba(255, 182, 39, 0.75);
  display: none;
  height: 15rem;
  left: 75%;
  position: absolute;
  top: 13%;
  transform: translate(-50%, -50%);
  width: 14.7rem;

  @include respond(tab-port) {
    left: 60%;
    top: 19%;
  }

  .sun_morning {
    background-image: linear-gradient(
      to bottom,
      rgba(255, 182, 39, 1) 25%,
      rgba(255, 182, 39, 0.75) 55%,
      rgba(255, 149, 5, 0.59)
    );
    border-radius: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
