/* Header Possum */
.elv-possum-anchor {
    display: block;
}
.elv-possum {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    transition: 0.3s opacity ease-out;
}
.elv-header-docs .elv-possum {
    /* aspect ratio 0.51094891 */
    width: 15vw;
    height: 29.35714258vw;
    max-width: 6.25rem; /* 100px /16 */
    max-height: 12.23214274rem;
}
.elv-header-default {
    overflow: hidden;
}
.elv-header-default .elv-possum {
    pointer-events: none;
    width: auto;
    height: calc((60vh - 2rem) / 1.6);
    top: 36%;
    left: 1vw;
    right: auto;
    animation-duration: 180s;
    animation-name: balloonFloat;
}
@media (prefers-reduced-motion: reduce) {
    .elv-header-default .elv-possum {
        animation-duration: 0s;
    }
}
@keyframes balloonFloat {
    from {
        transform: translate(-7vw, 30%);
    }
    to {
        transform: translate(100vw, -52%);
    }
}

.birdcage {
    display: none;
    height: 50rem;
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 15%;
    z-index: -1;
}

.pictureframe {
    left: -60%;
    position: absolute;
    top: 0;
    width: 100%;
}

.pictureframe:nth-of-type(1) {
    animation: fly 30s infinite linear;
    height: 50px;

    @include respond(tab-port) {
        animation: fly 180s infinite linear;
    }
}

.pictureframe:nth-of-type(2) {
    animation: fly 30s 1s infinite linear;
    height: 300px;

    @include respond(tab-port) {
        animation: fly 180s 1s infinite linear;
    }
}

.pictureframe:nth-of-type(3) {
    animation: fly 30s 2s infinite linear;
    height: 200px;

    @include respond(tab-port) {
        animation: fly 180s 2s infinite linear;
    }
}

.pictureframe:nth-of-type(4) {
    animation: fly 30s 3s infinite linear;
    height: 50px;

    @include respond(tab-port) {
        animation: fly 180s 3s infinite linear;
    }
}

.bird div {
    position: absolute;
}

.bird {
    animation: bob 0.7s infinite cubic-bezier(0.7, 0.7, 0.1, 0.4);
    position: absolute;
}

.body1,
.body2,
.wing-l,
.wing-r {
    border-color: transparent;
    border-style: solid;
    height: 0px;
    width: 0px;
}

.body1 {
    border-width: 1.5rem;
    border-left-width: 2.5rem;
    border-top-width: 1.5rem;
    border-right-width: 5.5rem;
    border-top-color: #333;
}

.body2 {
    border-width: 1rem;
    border-left-width: 0.5rem;
    border-top-width: 0px;
    border-right-width: 1.5rem;
    border-bottom-color: #777;
    bottom: 0rem;
    left: 5rem;
}

.wing-l {
    animation: flap-l 0.7s infinite;
    border-width: 6rem;
    border-left-width: 2rem;
    border-top-width: 0rem;
    border-right-width: 0.6rem;
    border-bottom-color: #444;
    bottom: 0rem;
    left: 2.2rem;
}

.wing-r {
    animation: flap-r 0.7s infinite;
    border-width: 6rem;
    border-left-width: 2rem;
    border-bottom-width: 0rem;
    border-right-width: 0.6rem;
    border-top-color: #777;
    left: 2.2rem;
    top: 0rem;
}

.sun_day {
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 40px 15px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 40px 15px rgba(255, 255, 255, 1);
    display: none;
    height: 7rem;
    margin: auto;
    opacity: 0.9;
    position: absolute;
    right: 22%;
    top: 10%;
    width: $sun-width;
    z-index: -1;
}

.ray_box {
    -webkit-animation: ray_anim 120s linear infinite;
    animation: ray_anim 120s linear infinite;
    inset: auto;
    margin: auto;
    position: absolute;
    width: $sun-width;
}
.ray {
    background: -webkit-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    background: linear-gradient(
        top,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    border-radius: 80% 80% 0 0;
    margin-left: 10px;
    opacity: 0.1;
    position: absolute;
}

.ray1 {
    height: 170px;
    left: 15px;
    top: -175px;
    transform: rotate(180deg);
    width: 30px;
}

.ray2 {
    height: 100px;
    width: 8px;
    transform: rotate(220deg);
    top: -90px;
    left: 75px;
}

.ray3 {
    height: 170px;
    width: 50px;
    transform: rotate(250deg);
    top: -80px;
    left: 100px;
}

.ray4 {
    height: 120px;
    width: 14px;
    transform: rotate(305deg);
    top: 30px;
    left: 100px;
}

.ray5 {
    height: 140px;
    width: 30px;
    transform: rotate(-15deg);
    top: 60px;
    left: 40px;
}

.ray6 {
    height: 90px;
    width: 50px;
    transform: rotate(30deg);
    top: 60px;
    left: -40px;
}

.ray7 {
    height: 180px;
    width: 10px;
    transform: rotate(70deg);
    top: -35px;
    left: -40px;
}

.ray8 {
    height: 120px;
    width: 30px;
    transform: rotate(100deg);
    top: -45px;
    left: -90px;
}

.ray9 {
    height: 80px;
    width: 10px;
    transform: rotate(120deg);
    top: -65px;
    left: -60px;
}

.ray10 {
    height: 190px;
    width: 23px;
    transform: rotate(150deg);
    top: -185px;
    left: -60px;
}
